.page-container {
  width: 90%;
  margin: 2em auto;
}

#num-to-string {
  display: grid;
  grid-template-columns: 500px 700px;
}

#num-to-string h2 {
  grid-column: span 2;
  text-align: center;
}

.num-to-string-content {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.image-container {
  width: 100%;
}

.image-container img {
  width: 100%;
}

#string-to-num {
  display: grid;
  grid-template-columns: 700px 500px;
}

#string-to-num .image-container {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#string-to-num h2 {
  grid-column: span 2;
  text-align: center;
}

.string-to-num-content {
  grid-column: 2;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
}
